
.menu-hidden {
    transition: transform 0.2s;
    transform: translateX(300px);
    background-color: #e7e3e4;
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.45) 1px 1px 40px 0px inset;
    border-radius: 26px 0 0 26px;
}

.menu-hidden-show {
    transform: translateX(0px);
}

.menu-H {
    position: absolute;
    top: 50px;
    left: 50px;
}

.part1-menu {
    overflow-x: hidden;
    position: relative;
}

.mHH {
    margin-top: 16px;
    padding-bottom: 1px;
    border-bottom: 3px solid #e7e3e4;
    width: fit-content;
}

.mHH-0>h3 {
    margin: 0px;
}

.mHH-0:hover {
    border-bottom: 3px solid #038003ff;
    cursor: pointer;
}

.mHH-1:hover {
    border-bottom: 3px solid #038003ff;
    cursor: pointer;
}

.mHH-2:hover {
    border-bottom: 3px solid #038003ff;
    cursor: pointer;
}

.mHH-3:hover {
    border-bottom: 3px solid #038003ff;
    cursor: pointer;
}

.mHH-4:hover {
    border-bottom: 3px solid #038003ff;
    cursor: pointer;
}